- if @invite.used?
  %p This is an #{@invitable.class.name} invite for #{@invitable.name}, but has already been used.
- elsif session[:user_id].present?
  %p This is an #{@invitable.class.name} invite for #{@invitable.name}!
  .row
    .col
      = form_with scope: :invite, url: join_invite_path do |f|
        %p You are using an invite:
        .form-group
          = f.text_field :invite_code, class: "form-control", value: @invite.invite_code, readonly: "readonly"
        = f.submit "Join", class: "btn btn-primary"
- else
  %p This is an #{@invitable.class.name} invite for #{@invitable.name}!

  %p Please use the following options to join:
  = link_to "sign up", new_user_path(invite_code: @invite.invite_code), class: "btn btn-primary"
  or
  = link_to "log in", new_session_path(invite_code: @invite.invite_code), class: "btn btn-primary"