%h1 Sign up

%p Please enter your name and email to sign up

- login_path = params["invite_code"] ? new_session_path(invite_code: params["invite_code"]) : new_session_path

.row
  .col
    = form_with model: @user, url: user_path do |f|
      .form-group
        = f.text_field :name, class: "form-control", placeholder: "Name"
      .form-group
        = f.text_field :email, class: "form-control", placeholder: "E-mail"

      - if params["invite_code"]
        %p You are using an invite:
        .form-group
          %input#invite_invite_code{name: "invite[invite_code]", class: "form-control", value: params[:invite_code], readonly: "readonly"}
      = f.submit "Signup", class: "btn btn-primary"
      = link_to "or login", login_path, class: "btn btn-link"

  .col
